{% extends "base.html" %}
{% block content %}
<div class="container">
    <div style="width: 50%; margin: auto;" class="mb-5">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the authentication service</h1>
                <p class="lead">Authenticate yourself here</p>
                <hr class="my-4">
                <p>while(true) { }</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}
