{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Password Change</h1>
    {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <small><strong>{{er}}</strong></small>
        {% endfor %}
    {% endif %}
    <form method="post" style="width: 50%; margin: auto;" novalidate>
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <!--{{ form|crispy }}-->
        {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock content %}

