<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Wise Employees</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
      integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> 


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.css">
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>Cascading Dropdown Lists</h1>

        <form action="" id="employeeForm" method="post">
            {% csrf_token %}
            {{employee_form.as_p}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <script>
      $(document).ready(function () {
        $('#id_state').empty();
        $('#id_city').empty();
        
        $('#id_country').change(function () {
          var countryId = $(this).val();
           $.ajax({
            url: '{% url "load_states" %}',
            data: {'country_id': countryId},
            dataType: 'json',
            success: function (data) {
              var stateSelect = $('#id_state');
              stateSelect.empty();
              $.each(data, function(key, value) {
                stateSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
              });
              
            }
           })
        })

        $('#id_state').change(function () {
          var stateId = $(this).val();
           $.ajax({
            url: '{% url "load_cities" %}',
            data: {'state_id': stateId},
            dataType: 'json',
            success: function (data) {
              var citySelect = $('#id_city');
              citySelect.empty();
              $.each(data, function(key, value) {
                citySelect.append('<option value="' + value.id + '">' + value.name + '</option>');
              });
              
            }
           })
        })



      })
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
</body>
</html> 