{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div>
    <h1>Profile Page</h1> 

    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit your profile</a>
</div>
<div class="container">
    <div class="row">
      {% for post in data %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <p>Author : {{ post.author.first_name }} {{ post.author.last_name }}</p>
              <small>Category : </small>
              {% for ct in post.category.all %}
                <button class="btn btn-primary btn-sm">{{ ct.name }}</button>
              {% endfor %}
              <div class="mt-4">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>

{% endblock content %}

