<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, tr, td {
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <table>
        <h3>Student Information</h3>
        <th>id</th>
        <th>name</th>
        <th>roll</th>
        <th>city</th>
        <th>marks</th>
        <th>passing date</th>
        <th>admission date</th>
            {% for student in students %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.roll}}</td>
                    <td>{{student.city}}</td>
                    <td>{{student.marks}}</td>
                    <td>{{student.passdate}}</td>
                    <td>{{student.admdatetime}}</td>
                </tr>
            {% endfor %}
    </table>
    <h3>Average  Data {{average.marks__avg}}</h3>
    <h3>Sum Data {{sum.marks__sum}}</h3>
    <h3>Max Data {{max.marks__max}}</h3>
    <h3>Min Data {{min.marks__min}}</h3>
    <h3>Count Data {{count.marks__count}}</h3>
</body>
</html>