<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: black;
            color: seashell
        }
    </style>
    <title>{{nm}}</title>

</head>
<body>
    <h1>{{nm | capfirst}}</h1>
    <h1>{{nm | length}}</h1>
    <h1>{{nm | upper}}</h1>
    <h1>{{nm | lower}}</h1>
    <h1>{{nm | slice:'5'}}</h1> 
    <h1>{{nm | truncatechars:4}}</h1> 
</body>
</html>